*{
    font-family: sans-serif;
}
.gallery{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.images{
   background-color: lightblue;
   height: 240px;
   width: 240px; 
   border-radius: 10px;
   
}
.images2{
    height:200px;
}
img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
body{
    background-color: rgb(73, 73, 73);
    color: white;
}